.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: var(--size-fluid-1);
    border-left: 1px solid var(--gray-4);
    border-right: 1px solid var(--gray-4);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--size-2);
}

.heading {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-4);
    color: var(--blue-6);
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

/* Add to do */
.addToDoSection {
    display: flex;
    align-items: center;
    gap: var(--size-3);
    margin-bottom: var(--size-2);
}
.addToDoInput {
    flex: 1;
    background: var(--input-surface);
}
.addToDoButton{
    white-space: nowrap;
    background: var(--input-surface);
}

/* To do items */
.toDoList {
    padding: 0;
    list-style-type: none;
    flex: 1;
    overflow: auto;
    margin-bottom: var(--size-2);
}
.toDoItem {
    max-inline-size: none;
    display: flex;
    align-items: center;
    padding-block: var(--size-1);
    border-bottom: var(--border-size-1) solid var(--gray-4);
}
li:last-of-type {
    border-bottom: none;
}
.toDoCheckbox {
    margin-right: var(--size-2);
}

/* Theme selector */
.optionsWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--size-3);
}
.themeSelectorLabel {
    margin-right: var(--size-2);
}
