.content {
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: var(--size-fluid-1);
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: var(--font-size-fluid-2);
    color: var(--blue-6);
}

.addToDoSection {
    display: flex;
    align-items: center;
    gap: var(--size-3);
}
.addToDoInput {
    flex: 1;
}
.addToDoButton{
    white-space: nowrap;
}
